/* Reset */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
/*p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}


    /**RESOURCES**/

    :root{
      --gradiente-hero:linear-gradient(
        60deg ,
        orange,
        orange,
        #ce41a3,
        #ce41a3,
        #5d66e7,
        #dcddf7,
        #a4a9f8,
        #4751db,
        #ce41a3,
        orange
        );
    }
    :root{
      --gradiente-frame:linear-gradient(
        50deg,
        #a4a9f8,
        #e6e7f5,
        #e6e7f5,
        #ecd1e4,
        #e6e7f5,
        #dcddf7
      );
      
    }
    :root{
      --gradiente-cursos-40Off-cripto:linear-gradient(
        80deg,
        #727aeb,
        #727aeb,
        #727aeb,
        #7279e7,
        #8d93e9,
        #a2a7f0,
        #ddb0cf,
        #d6a6c8,
        #e48bc9,
        #e28ac8
      
      );
    }



    @font-face{
      font-family:"headingNowTitular";
      src: url(./assets/headingNowFonts/HeadingNowTrial-25Medium.ttf)format('truetype');
    }
    @font-face {
      font-family: "MontserratMedium";
      src: url(./assets/montserratFonts/Montserrat-Medium.otf)format('opentype');
    }
    @font-face {
      font-family: "Montserratbold";
      src: url(./assets/montserratFonts/Montserrat-Bold.otf)format('opentype');;
    }


    @keyframes bg-animation {
      0% {
        background-position: left;
      }
      25% {
        background-position:center ;
      }
      50% {
        background-position:left ;
      }
      75% {
        background-position:center ;
      }
      100% {
        background-position: right;
      }
    }

    .montserrat{
      font-family:  "MontserratMedium";
      font-size: 1rem; 
    }

    .style{
      max-width: max-content;
      border-radius: 1em;
      padding: .5rem;
      background-color: antiquewhite;
      backdrop-filter:blur(.2rem);
      border: 1px solid rgba(39, 36, 36, 0.5);
    }

    .style-card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: auto;
      max-height: 65vh;
      border-radius: 6rem;
      background-color: transparent;
      backdrop-filter:blur(.2rem);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    .style-inside-cards{
      font-family: "headingNowTitular" ;
      font-size: 2rem;
      text-transform: uppercase;
      border: 1px solid rgb(255, 115, 0);
      min-width: 99%;
      padding: 1rem 0;
      border-radius: 3rem;
      text-align: center;
      /*margin-top: 15%;*/
    }
    .style-text{
      font-family:"MontserratMedium";
      text-align: center;
      font-size: .8rem;
      max-width:80%;
    }
    .style-btn-cards{
      width: 40%;
      background-color: orangered;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: whitesmoke;
      border-radius: 3rem;
      padding: .5rem 0;
      text-transform: uppercase;
      font-family:"MontserratMedium" ;
      font-size: .7rem;
      margin-bottom: 10%;
    }

    /**COMIENZO DE CODIGO**/

    body{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-image: var(--gradiente-hero);
      background-size: 800%;
      animation: bg-animation 40s infinite alternate;
    }


    /*** HEADER ***/

  .header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-items: center;*/
    max-width: 1100px;
    margin: auto;
    margin-top:3%;
  }

  .logo{
    margin-left: .7rem;
    flex-basis: 6rem;
    
  }

  .menu{
    border: 1.5px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1rem;
    max-width:50%;
    margin-right: 6%;
  }

  .menu__desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1rem;
  }
  
  .menu__desktop-items{
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: .6rem;
    font-family: "MontserratMedium";
    font-weight: bold;
    text-transform: uppercase;
    color: #242323;
  }

  /*** HERO ***/

  .hero{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    max-width: 1100px;
    margin: auto;
    margin-top: 5%;
  }


  .hero__title{
    margin:auto;
  }
  
  h1{
    width: 100%;
    font-family:"headingNowTitular";
    text-transform: uppercase;
    font-size: 5em;
    line-height: 1em;
  }

  /***INFO CARDS***/

  .info-cards{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 1rem;
  }
  .hero__info-cards-forex{
    width: 45%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
  }
  .hero__info-cards-señales{
    width: 45%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
  }

  .info-cards p{
    font-family: "MontserratMedium";
    font-size: .7rem;
    line-height: .8rem;
  }

  .info-cards span{
    font-weight: bold;
  }

  /***REDES SOCIALES***/

  .social-networks{
    display: grid;
    grid-template-columns: 1fr 2.8fr;
  }

  .follow-us{
    min-width: 4vw;
    display: block;
    margin-left: 1rem;
    margin-top: .5rem;
  }
  .follow-us__title{
    font-size: .6rem;
    text-transform: uppercase;
  }
  .follow-us__icons{
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }
  .fa-instagram{
    font-size: 1.8rem;
  }
  .fa-facebook{
    font-size: 1.8rem;
  }
  
  /***COMENZÁ AHORA***/

  .start_now{
  min-width: 30vw;
  display: grid;
  grid-template-columns: 1fr;
  }
  
  .start-now__btn{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: .8rem 1.8rem;
    font-size: .8rem ; 
    text-transform: uppercase;
    border-radius: 2rem;
    background-color: antiquewhite;
    border: 1px solid rgba(247, 242, 242, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }


  /***SUMATE EN 3 PASOS***/

  .join-us{
    width:95%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #242323;
    border-radius: 2.2rem;
    background-color: antiquewhite;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
    margin-bottom: 3%;
  }
  .card-bar{
    width: 95%;
    height: 5vh;
    margin: auto;
    overflow: hidden;
    
  }
  .card-bar .card-animation{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width:calc(35% * 12) ;
  }
  .card-bar .card-bar__content__steps{
    width: 25%;
  }
  .card-bar .card-bar__content__steps:nth-child(2){
    width: 40%;
  }
  .card-bar .card-bar__content__steps:nth-child(5){
    width: 40%;
  }
  .card-bar .card-bar__content__steps:nth-child(8){
    width: 40%;
  }
  .card-bar .card-bar__content__steps:nth-child(11){
    width: 40%;
  }
  .card-bar .card-bar__content__steps h2{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .join-us p{
    font-family:"MontserratMedium";
    font-size: .4rem;
  }
  .join-us span{
    font-size: .5rem ;
  }
  .card-bar__content__steps h2{
    font-family:"MontserratMedium" ;
    font-size: 1.1rem;
    font-weight: 100;
  }
  .card-bar__content__join-us-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card-bar__content__join-us--bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @keyframes scroll {
    0% {
      -webkit-transform:translateX(0);
      transform:translateX(0);
    }
    100% {
      -webkit-transform:translateX(calc(-25% * 3 ));
      transform:translateX(calc(-25% * 3));
    }
  }

  /***CEL FRAME***/

  .contenedor-frame{
    background-image: var(--gradiente-frame);
    /*background-size: 400%;*/
  }
  .line-divider{
    width:25%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 0.1rem;
    border: none;
    background:rgb(236, 97, 46);
  }

  .cel-frame{
    display: flex;
    flex-direction: column;
    min-height:55vh;
    max-width: 1100px;
    margin: auto;
  }
  .cel-frame__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cel-frame__title-h2{
    font-family: "MontserratBold";
    font-weight: 600;
    font-size: 1rem ;
    text-transform: uppercase;
  }
  .cel-frame__title span{
    color: rgb(236, 97, 46);
  }

  .cel-frame__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-height: 30vh;
  }
  .iphone14{
    width: 100%;
    padding-top: 0;
    max-height: 30vh;
  }
  .cel-frame__text{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .cel-frame__text-h3{
    font-family:"MontserratMedium" ;
    text-align: center;
    margin-bottom: 5%;
  }
  .cel-frame__text-h3 span{
    color: #363434;
    font-weight: bold;
  }
  .cel-frame__text-btn{
    background-color: rgb(236, 97, 46);
    color:white;
    padding: .8rem 1.8rem;
    border-radius: 2rem;
    margin-bottom: 8%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  .cel-frame__text-btn a{
    font-family: "MontserratMedium" ;
    font-size: .8rem;
    text-transform: uppercase;
  }

  /***CURSOS***/

  .courses-discount-cripto-cards{
    background-image: var(--gradiente-cursos-40Off-cripto);
    padding-top: 5%;
  }
  .courses-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10%;

  }
  .courses__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .courses__title-h2{
    font-family: "headingNowTitular";
    font-size: 2rem;
    text-transform: uppercase;
  }
  .courses__title-h2 span{
    color: rgba(61, 43, 226, 0.644);
  }
  .style-text{
    margin-top: 8%;
    margin-bottom: 12%;
    max-height: 35%;
  }
  .style-text:nth-child(3){
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .courses-cards__introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid rgb(255, 115, 0);
    min-height: 65vh;
  }

  .courses-cards__advanced{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid rgb(61, 43, 226);
    min-height: 65vh;
  }
  .courses-cards__advanced h3{
    border: 1px solid rgb(61, 43, 226);
  }
  .courses-cards__advanced button{
    background-color:rgb(61, 43, 226);
  }
  .courses-cards__intensive-crypto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid rgba(44, 226, 44, 0.829);
    min-height: 65vh;
  }
  .courses-cards__intensive-crypto h3{
    border:1px solid rgba(44, 226, 44, 0.829);
  }
  .courses-cards__intensive-crypto button{
    background-color: rgba(44, 226, 44, 0.829);
    margin-bottom: 10%;
  }
  .courses-cards img{
    width: 40%;
  }

  .courses-cards span{
    font-weight: bold;
  }

  /***40% OFF***/

  .discount{
    min-height: 50vh;
    margin-top: 10%;
  }
  .special-discount-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .special-discount-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
  }

  .discount p{
    font-family: "MontserratMedium";
    text-transform: uppercase;
    font-size: .5rem;
    color: #f0a7da;
  }
  .discount p span{
    color: #4751db;
  }
  .discount__bg-image-oval{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90% ;
    min-height: 30vh;
    margin-top: 15%;
    margin-bottom: 15%;
    border: 1px solid  #f0a7da;
    margin: auto;
    border-radius: 60%;
    position: relative;
  }
  .discount__bg-image-circle{
    position: absolute;
    width: 57%;
    min-height: 30vh ;
    border: 1px solid  #f0a7da;
    border-radius: 100%;
    background-color: #f5bde4;
  }
  .discount__bg-image-oval h3{
    position: absolute;
    font-family: "MontserratMedium";
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  }
  .off{
    font-weight: bold;
  }

  /*** CRIPTO CARDS***/

.cripto-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: content;
  
}
.cripto-cards img{
  width: 100%;
}

.testimony img{
  max-width: 25%;
  width: 25%;
}



.logo img{
  flex-basis: 6rem;
}







  /***MEDIA QUERY MOVIL ESTANDAR***/

  @media screen and (min-width:480px){
    .hero__title h1{
      font-size: 6.5em;
  }
  .cel-frame{
    min-height: 60vh;
    margin-top: 7%;
  }
  .courses__title-h2{
    font-size: 2.3rem;
  }
  .courses-cards__introduction {
    width: 75%;
  }
  .courses-cards__advanced{
    width: 75%;
  }
  .courses-cards__intensive-crypto{
    width: 75%;
  }
}
  
  







  /***MEDIA QUERIES TABLET***/

@media screen and (min-width:601px) and (max-width:959px){

  .logo{
    margin-left: .5rem;
    flex-basis: 8rem;
  }
  .menu{
    max-width: 40%;
    min-height: 4vh;
    margin-right: 25%;
  }
  .menu__desktop{
    align-items:center;
    justify-content:left;
  }
  .menu__desktop-items{
    font-size: .8rem;
  }
  .hero{
    grid-template-columns: 2fr 1fr;
  }
  .hero__title h1{
    font-size: 16.1vw;
    margin-left: 3%;
  }
  .info-cards{
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .hero__info-cards-señales{
    width: 20vw;
    margin-right: 0;
    
  }
  .hero__info-cards-forex{
    width: 20vw;
    margin-left:0 ;
  }

  .social-networks{
    grid-template-columns:1fr 1.8fr;
  }
  .follow-us{
    margin-top: 2.5rem;
  }
  .join-us{
    margin-top: 3%;
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 5rem;
    box-shadow: 5px 5px 15px black;
  }
  .card-bar{
    min-height: 7vh;
  }
  .card-animation{
    min-height:7vh ;
    align-items: center;
  }
  .card-bar__content__steps h2{
    font-size: 1.7rem;
  }
  .cel-frame__title-h2{
    font-size: 2rem;
  }
  .cel-frame{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    min-height: 30vh;
    gap: .1rem;
    margin-top: 0;
  }
  .cel-frame__img{
    align-items: center;
    max-height: 55vh;
  }
  .iphone14{
    min-height: 32vh;
    
  }
  .cel-frame__text{
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
  }
  .cel-frame__text-h3{
    text-align: left;
    max-height: 5vh;
    max-width: 42vw;
    font-size: .9rem;
  }
  .cel-frame__text-btn{
    margin-bottom: 0;
    margin-top: 15%;
  }
  .line-divider{
    margin-top: ;
  }
  .courses__title-h2{
    font-size: 3rem;
  }
  .courses{
    display: grid;
    grid-template-columns:auto ;
    border: 1px solid gray;
    border-radius: 10rem;
    width: 90%;
    margin: auto;
    background-color: #f5f5fa;
    margin-bottom: 10%;

  }
  .courses-cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .courses-cards__introduction{
    width: 90%;
    margin-left: 5%;
    justify-content: space-around;
    min-height: 35vh ;
  }
  .courses-cards__advanced{
    width: 90%;
    margin-right: 5%;
    justify-content: space-around;
    min-height: 35vh ;
  }
  .courses-cards__intensive-crypto{
    margin-left: 60%;
    width: 90%;
    justify-content: space-around;
    min-height: 35vh ;
  }

  .discount{
    min-height: 60vh;
    margin-top: 15%;
  }
  .discount__bg-image-oval{
    min-height: 30vh;
  }
  .discount__bg-image-circle{
    width: 48%;
    min-height: 30vh ;
  }
  .discount__bg-image-oval h3{
    position: absolute;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 2rem ;
  }
}

/***MEDIA QUERY LANDSCAPE CEL***/

@media screen and (min-width:601px) and (orientation:landscape){
  .contenedor-frame{
    min-height: 150vh;
  }
  .line-divider{
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
  .cel-frame{
    min-height: 70vh;
  }
  .cel-frame img{
    min-height: 90vh;
    margin-top: 25vh;
  }

  .courses{
    min-height: 250vh;

  }
  .courses-cards__introduction{
    min-height: 100vh;
  }
  .courses-cards__advanced{
    min-height: 100vh;
  }
  .courses-cards__intensive-crypto{
    min-height: 100vh;
  }

  .discount{
    min-height: 150vh;
  }
  .discount__bg-image-oval{
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    
  }
  .discount__bg-image-circle{
    min-height: 84vh;
    min-width: 45vw;
    margin: auto;
  }
}

    



  















/**MEDIA QUERIES DESKTOP**/

@media screen and (min-width:960px){

  .header{
    margin-top: 1.5%;
  }
  .logo{
    flex-basis: 8rem;
  }
  .menu{
    max-width: 35%;
    min-height: 5vh;
    margin-right: 30%;
  }
  .menu__desktop{
    align-items: center;
  }
  .menu__desktop-items{
    font-size: .8rem;
    cursor: pointer;
  }
  .hero{
    grid-template-columns:2fr 1fr;
    margin-top: 3%;
    margin-left:2% ;
  }

  .hero__title h1{
    font-size: 15vw;
  }
  
  .info-cards{
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }

  .hero__info-cards-señales:hover{
    border-bottom: 5px solid #242323;
    border-right: 5px solid #242323;
  }
  .hero__info-cards-forex:hover{
    border-bottom: 5px solid #242323;
    border-right: 5px solid #242323;
  }
  .info-cards p{
    font-size: .8rem;
    line-height: 1.2rem;
  }

  .info-cards span{
    font-weight: bold;
  }

  .hero__info-cards-señales{
    width: 20vw;
    margin-right: 0
  }

  .hero__info-cards-forex{
    width: 20vw;
    margin-left:0 ;
  }
  .social-networks{
    grid-template-columns:1fr 1.4fr;
  }

  .follow-us{
    margin-top: 2.5rem;
  }
  .start-now__btn:hover{
    transform: scale(1.06);
    background-color:rgb(233, 215, 192);
    cursor: pointer;
  }
  .join-us{
    margin-top: 3%;
    border-radius: 5rem;
    box-shadow: 5px 5px 15px black;
  }
  .join-us:hover{
    box-shadow: 10px 10px 20px black;
  }
  .card-bar{
    min-height: 9vh;
  }
  .card-animation{
    min-height:8vh ;
    align-items: center;
  }
  .card-animation span{
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  .card-bar__content__steps h2{
    font-size: 2.5rem;
    align-items: center;
  }
  .card-bar__content__steps h2:first-child{
    padding-left: 1rem;
  }
  .card-bar__content__steps h2:last-child{
    padding-right: 1rem;
  }
  .card-bar__content__join-us-top{
    align-items: flex-end;
  }
  .cel-frame__title-h2{
    font-size: 2rem;
  }
  .cel-frame{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    min-height: 50vh;
    margin-top: 3%;
  }
  .cel-frame__img{
    align-items: center;
    max-height: 45vh;
  }
  .iphone14{
    min-height: 40vh;
  }
  .cel-frame__text{
    flex-direction: column;
    justify-content: end;
    max-height: 45vh;
    align-items: flex-start;
  }
  .cel-frame__text-h3{
    text-align:justify;
    margin-bottom: 5%;

  }
  .cel-frame__text-btn{
    
  }
  .cel-frame__text-btn:hover{
    transform: scale(1.06);
  }
  .courses{
    min-height: 75vh;
    border: 1px solid rgb(241, 238, 238);
    border-radius: 8rem;
    background-color:rgb(243, 239, 239);
    width: 95%;
    margin: auto;
  }
  .courses-cards{
    flex-direction: row;
    gap: 1rem;
    width: 95%;
    margin: auto;
  }
  .courses-cards__introduction{
    min-height: 60vh;
    margin-top: 6%;
  }
  .courses-cards__advanced{
    min-height: 60vh;
    margin-top: 6%;
  }
  .courses-cards__intensive-crypto{
    min-height: 60vh;
    margin-top: 6%;
  }
  .courses__title h2{
    font-size: 3.5rem;
  }
  .style-text:nth-child(3){
    word-wrap:break-word;
    padding-top: 0;
    margin-top: 0;
  }
  .courses-cards__intensive-crypto img{
    margin-top:5%;
  }
  .courses-cards__introduction button{
    margin-bottom: 3%;
  }
  .courses-cards__introduction button:hover{
    transform: scale(1.06);
  }
  .courses-cards__advanced button{
    margin-bottom: 3%;
  }
  .courses-cards__advanced button:hover{
    transform: scale(1.06);
  }
  .courses-cards__intensive-crypto button{
    margin-bottom:3%;
  }
  .courses-cards__intensive-crypto button:hover{
    transform: scale(1.06);
  }
}


/**MEDIA QUERIES CUSTOM 1328px***/

@media screen and (min-width:1100px){

  .header{
    margin-top: 2%;
  }
  .menu{
    margin-right: 30%;
  }
  .logo{
    margin-left: 2%;
  }
  .hero{
    grid-template-columns:2fr 1fr;
    margin-top: 2%;
    margin-left: 11% ;
  }
  .hero__title h1{
    font-size: 12.6vw;
  }
  .hero__info-cards-señales{
    width: 12vw;
    min-height: 14vh;
    padding: .5rem;
    margin-right: 0
  }
  .hero__info-cards-forex{
    width:12vw;
    margin-left:0 ;
    padding: .5rem;
  }
  .follow-us{
    padding-left: 23%;
  }
  .join-us{
    margin-top: 3%;
    border-radius: 5rem;
    box-shadow: 5px 5px 15px black;
    width: 80%;
  }
  .join-us:hover{
    box-shadow: 10px 10px 20px black;
  }
  .card-bar{
    min-height: 8vh;
  }
  .card-animation{
    min-height:8vh ;
    align-items: center;
  }
  .card-animation span{
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  
  .card-bar__content__steps h2{
    font-size: 2.8rem;
  }
  .join-us p{
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: .5rem;
  }
  .cel-frame__title-h2{
    font-size: 2.8rem;
  }
  .cel-frame{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    max-height: 60vh;
    padding-bottom: 15vh;
  }
  .cel-frame__img{
    align-items: center;
    max-height: 55vh;
  }
  .iphone14{
    max-height: 30vh;
  }
  .cel-frame__text{
    flex-direction: column;
    justify-content:end;
    align-items: flex-start;
    margin-left: 0;
    /*max-height: 25vh;
    margin-top: 50%;*/
  }
  .cel-frame__text-h3{
    /*text-align:justify;
    margin-top: 25vh;
    margin-bottom: 5%;*/

  }
  .cel-frame__text-btn:hover{
    transform: scale(1.06);
    cursor: pointer;
  }
  .courses__title h2{
    font-size: 4rem;
    margin-bottom: 1%;
  }
  .courses{
    width: 85%;
    min-height: 85vh;
  }
  .courses-cards{
    max-width: 1100px;
    min-height: 80%;
    margin-bottom: 5%;
    gap: 2rem;
  }
  .courses-cards__introduction{
    min-height:70vh;
  }
  .courses-cards__advanced{
    min-height:70vh;
  }
  .courses-cards__intensive-crypto{
    min-height:70vh;
  }


  }

