/* Reset */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
/*p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}


    /**RESOURCES**/

    :root{
      --gradiente:linear-gradient(
        60deg ,
        orange,
        orange,
        #ce41a3,
        #ce41a3,
        #5d66e7,
        #a4a9f8,
        #4751db,
        #ce41a3,
        orange
        );
    }

    @font-face{
      font-family:"headingNowTitular";
      src: url(./assets/headingNowFonts/HeadingNowTrial-25Medium.ttf)format('truetype');
    }
    @font-face {
      font-family: "MontserratMedium";
      src: url(./assets/montserratFonts/Montserrat-Medium.otf)format('opentype');
    }
    @font-face {
      font-family: "Montserratbold";
      src: url(./assets/montserratFonts/Montserrat-Bold.otf)format('opentype');;
    }


    @keyframes bg-animation {
      0% {
        background-position: left;
      }
      25% {
        background-position:center ;
      }
      50% {
        background-position:left ;
      }
      75% {
        background-position:center ;
      }
      100% {
        background-position: right;
      }
    }


    /**COMIENZO DE CODIGO**/

    body{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-image: var(--gradiente);
      background-size: 500%;
      max-width: 1100px;
      margin: 0 auto;
      animation: bg-animation 40s infinite alternate;
    }

    /*HEADER*/

  .header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;*/
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .logo{
    margin-left: .7rem;
    flex-basis: 6rem;
    
  }


  .menu{
    border: 1.5px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1rem;
    max-width:50%;
    margin-left: 5%;
  }

  .menu__desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1rem;
  }
  
  .menu__desktop-items{
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: .6rem;
    font-family: "MontserratMedium";
    font-weight: bold;
    text-transform: uppercase;
    color: #242323;
  }

  .hero{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }


  .hero__title{
    margin:auto;
  }
  
  h1{
    width: 100%;
    font-family:"headingNowTitular";
    text-transform: uppercase;
    font-size: 5em;
    line-height: 1em;
    
  }

  .info-cards{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items:;
  }

  .info-cards p{
    font-size: .7rem;
    line-height: .7rem;
  }

  .info-cards span{
    font-weight: bold;
  }

  .hero__info-cards-señales{
    border: 1px solid black;
    border-radius: 1em;
    padding: .5rem;
    margin-right: 1rem;
    background-color: antiquewhite;
  }

  .hero__info-cards-forex{
    border: 1px solid black;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: 1em;
    background-color: antiquewhite;
  }












  



.card-bar__content__steps h2{
  font-family:"MontserratBold";
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 100;
}

.iphone14{
  width: 60%;
}

.card-bar__content__steps{
  font-size: 2rem;
}

.courses-cards span{
  font-weight: bold;
}

.cripto-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: content;
  
}
.cripto-cards img{
  width: 100%;
}

.testimony img{
  max-width: 25%;
  width: 25%;
}



.logo img{
  flex-basis: 6rem;
}















  /**MEDIA QUERIES TABLET**/

@media screen and (min-width:601px) and (max-width:967px){

  .logo{
    margin-left: .5rem;
    flex-basis: 8rem;
  }
  .menu{
    max-width: 40%;
    min-height: 4vh;
    margin-left: 10%;
  }
  .menu__desktop{
    align-items:center;
    justify-content:left;
  }
  .menu__desktop-items{
    font-size: .8rem;
  }

  .hero{
    grid-template-columns: 2fr 1fr;
    
  }
  
  .hero__title h1{
    font-size: 15vw;
  }

  .info-cards{
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }

  .hero__info-cards-señales{
    width: 20vw;
    margin-right: 0;
    
  }
  .hero__info-cards-forex{
    width: 20vw;
    margin-left:0 ;
  }
  




    
  }


  















/**MEDIA QUERIES DESKTOP**/

@media screen and (min-width:968px){
  .logo{
    flex-basis: 8rem;
  }
  .menu{
    max-width: 35%;
    min-height: 5vh;
    margin:auto;
  }
  .menu__desktop{
    align-items: center;
  }
  .menu__desktop-items{
    font-size: .8rem;
    cursor: pointer;
  }
  .hero{
    grid-template-columns:2fr 1fr;
  }

  .hero__title h1{
    font-size: 15vw;
  }
  
  .info-cards{
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }

  .hero__info-cards-señales:hover{
    box-shadow: 5px 5px 15px black;
  }
  .hero__info-cards-forex:hover{
    box-shadow: 5px 5px 15px black;
  }
  .info-cards p{
    font-size: .8rem;
    line-height: 1.2rem;
  }

  .info-cards span{
    font-weight: bold;
  }

  .hero__info-cards-señales{
    width: 20vw;
    margin-right: 0
  }

  .hero__info-cards-forex{
    width: 20vw;
    margin-left:0 ;
  }
}


/**MEDIA QUERIES CUSTOM**/

@media screen and (min-width:1200px){
  .menu{
    margin: auto;
  }
  .hero{
    grid-template-columns:2fr 1fr;
  }
  .hero__title h1{
    font-size: 12.6vw;
  }

  .hero__info-cards-señales{
    width: 12vw;
    min-height: 14vh;
    padding: .5rem;
    
    margin-right: 0
  }
  .hero__info-cards-forex{
    width:12vw;
    margin-left:0 ;
    padding: .5rem;
  }
}
